*.o
*.lo
*.la
*.out
.deps/
.libs/
.idea/
aclocal.m4
autom4te.cache/
build-aux/*
!build-aux/config.rpath
m4/
!m4/ccalias.m4
!m4/iconv.m4
!m4/readline.m4
!m4/gnome-doc-utils.m4
config.log
config.status
configure
dumptypes.c
dumptypes.h
Makefile.in
Makefile
doc/*.1
INSTALL
include/mdbver.h
libmdb.pc
libmdbsql.pc
libtool
mdbtools.spec
types.h
src/extras/mdb-hexdump
src/gmdb2/gmdb2
src/gmdb2/help/gmdb-C.omf
src/odbc/unittest
src/sql/lexer.c
src/sql/parser.c
src/sql/parser.h
src/util/mdb-array
src/util/mdb-count
src/util/mdb-export
src/util/mdb-header
src/util/mdb-import
src/util/mdb-parsecsv
src/util/mdb-prop
src/util/mdb-schema
src/util/mdb-sql
src/util/mdb-tables
src/util/mdb-ver
src/util/prcat
src/util/prdata
src/util/prdump
src/util/prindex
src/util/prkkd
src/util/prole
src/util/prtable
src/util/updrow
