*.o
*.lo
*.la
.deps/
.libs/
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
Makefile.in
Makefile
doc/*.1
include/config.h
include/config.h.in
include/mdbver.h
include/stamp-h1
install-sh
libmdb.pc
libmdbsql.pc
libtool
ltmain.sh
mdbtools.spec
missing
ylwrap
src/extras/mdb-hexdump
src/gmdb2/gmdb2
src/gmdb2/help/C/omf_timestamp
src/sql/lexer.c
src/sql/parser.c
src/sql/parser.h
src/util/mdb-array
src/util/mdb-export
src/util/mdb-header
src/util/mdb-import
src/util/mdb-parsecsv
src/util/mdb-prop
src/util/mdb-schema
src/util/mdb-sql
src/util/mdb-tables
src/util/mdb-ver
src/util/prcat
src/util/prdata
src/util/prdump
src/util/prindex
src/util/prkkd
src/util/prole
src/util/prtable
src/util/updrow
